<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1280px-RMS_Titanic_3.jpg" alt="Titanic" width = "500"></center>

# Introduction
***
<font size="5"><center><em> "The Titanic case has been used too often and feels dull" </em></center></font>

But overthinking only kept my data project stuck in emptiness. Finally, I decided to push forward and disregard that notion. Why not kickstart my data science project with the Titanic case?
In that decision, I found newfound inspiration. I laid out the steps, prepared my Python notebook, and began delving into the Titanic dataset. Despite the debated boredom, I discovered intriguing findings that sharpened my data science skills.<br>
So, let's leave behind the common mindset and dare to face the challenge. This is my first step towards building an extraordinary data science portfolio.

## About Titanic Disaster
The sinking of the Titanic is one of the most infamous shipwrecks in history.
On April 15, 1912, during her maiden voyage, the widely considered ‚Äúunsinkable‚Äù RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren‚Äôt enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.<br>
While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

## Objectives
- Do an **Exploratory Data Analysis (EDA)** of Titanic Disaster
- Build a **predictive model** to predict the chances of passengers survival
- **KICKSTART FOR MY DATA SCIENCE PROJECT üî•üî•üî•**

# Part 1: Importing Necessary Library and Dataset
***
To start this project, first we need to prepare the required libraries and datasets

## 1.1 Importing Library
Want to expolore and analyze data more easily‚ùî‚ùî‚ùî<br>
The answer lies in using **libraries**‚ùó‚ùó‚ùó

In this section we will import libraries to assist us in analyzing the Titanic data

In [1]:
import pandas as pd
import numpy as py
from matplotlib import pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

import warnings
warnings.filterwarnings('ignore') ## To ignore warning

%config InlineBackend.figure_format = 'retina' 
# %matplotlib inline
## the output of plotting commands is displayed inline within frontends like the Jupyter notebook, directly below the code cell that produced it. The resulting plots will then also be stored in the notebook document

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

## 1b. Loading Dataset
There are three csv on this project, but we will only use two of them  (train.csv & test.csv).

**Data Training** (train.csv): The training data is used to train the machine learning model by feeding it labeled examples and enabling it to capture patterns and relationships between input features and corresponding labels.

**Data Test**(test.csv): The test data is a separate dataset used to evaluate the performance of the trained model by comparing its predictions against the true labels, allowing us to assess how well the model can generalize and make accurate predictions on unseen data.

In [2]:
train = pd.read_csv('/kaggle/input/titanic/train.csv')
test = pd.read_csv('/kaggle/input/titanic/test.csv')
combine = pd.concat([train.drop('Survived',1),test])

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S